html {
    min-height: 100vh;
    scroll-behavior: smooth;
}
body {
    background-color: #9BF2EA;
    display: flex;
    justify-content:left;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden;
}


.barra{
    display: none;
    /* width: 10vh;
    height: 100%;
    background-color: #52D3D8; */
}
.barra i{
    display: none;
    /* font-size: 2.5rem;
    padding: 2vh;
    color: white;*/
} 
.background-image {
    position: absolute;
    top: 0;
    left: 0vh; 
    bottom: 0;
    width: 60%;
    background-image: url("../img/back1.webp");
    background-size: cover;
    background-position: right; 
    clip-path: ellipse(80% 90% at 0% 50%); 
    opacity: 0.8;
}
.games{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    position: absolute;
    top: 2vh;
    padding-left: 170vh;
    left: 10vh; 
    bottom: 10;
    width: 10vh;
    height: 10vh;
}
.container {
    position: relative;
    z-index: 1;
    width: 65vh;
    background-color: transparent;
    overflow: hidden;
    border-radius: 10px;
    padding-left: 100vh;
}



.form-container {
    padding: 0;
    width: 50%;
    z-index: 2;
    position: relative;
    width: 100%;
}
.register {
    display: flex;
    justify-content: center;
    position: relative; 
    width: 100%;
    height: 4vh;
    padding-bottom: 0.5vh;
    margin-bottom: 1vh;
}
.usuario{
    padding-left: 2vh;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 25px;
    color: black;
    outline: none;
    background-color: white;
    border: 0px ;
}


h2 {
    font-size: 2rem;
    color: black;
    font-weight: 200;
    margin-bottom: 1vh;
}

p {
    color: black;
    
    margin: 1vh 0;
}

form label {
    display: block;
    margin: 0.5em 0 0.2em;
    font-weight: 600;
    color: black;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 0.7em;
    margin-bottom: 0.8em;
    border-radius: 4px;
    box-sizing: border-box;
}

.small-text {
    font-size: 0.7rem;
    color: black;
    margin: -0.5em 0 1em;
}

.checkbox-container {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 100;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 0.5em;
}

button {
    width: 100%;
    padding: 0.8em;
    background-color: #1e9090;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
    transition: 0.3s;
    width: 100%;
}
button:hover{
    background-color: white;
    color: #1e9090;
    font-weight: bold;
}
h1{
    font-family: "Orbitron", sans-serif;
    font-size: 1.7rem;
    height: 10px;
    font-weight: 600;
    opacity: 0.7;
}
div .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 10vh;
    height: 10vh;
    opacity: 0.7;
}
.logo img {
    height: 14vh;
    width: 14vh;
}
.social-login {
    text-align: center;
    margin-top: 1.5em;
}

.social-login p {
    font-size: 1rem;
    color: black;
}

.social-button {
    display: inline-block;
    width: 45%;
    margin: 0.2em;
    padding: 0.6em;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.brands{
    padding-top: 2vh;
    display: flex;
    justify-content: space-between;
    width: 60vh;
}

.footer-text {
    text-align: center;
    font-size: 1rem;
    margin-top: 1em;
}
.brand-icon{
    font-size: 5vh;
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.brand-icon1{
    font-size: 5vh;
    color: #3b5998;
}
.brand-icon2{
    font-size: 5vh;
    color: #ff4500;
}
.brand-icon3{
    font-size: 5vh;
    color: black;
}

.footer-text a {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}
