
html {
    min-height: 100vh;
    scroll-behavior: smooth;
}
body {
    background-color: #9BF2EA;
    display: flex;
    justify-content:left;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden;
}



.barra{
    display: none;
    /* width: 10vh;
    height: 100%;
    background-color: #52D3D8; */
}
.barra i{
    display: none;
    /* font-size: 2.5rem;
    padding: 2vh;
    color: white; */
}

.background-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 65%; 
    background-image: url("../img/back.webp"); 
    background-size: cover;
    background-position:right;
    clip-path: ellipse(70% 90% at 100% 50%);
    opacity: 0.8;
}

.register {
    display: flex;
    justify-content: center;
    position: relative; 
    width: 97.2%;
    height: 7vh;
    padding-bottom: 0.5vh;
    margin-bottom: 1vh;

}
.usuario{
    padding-left: 2vh;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 25px;
    color: black;
    outline: none;
    
}
.user-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%); 
    color: #1e9090; 
    font-size: 1.5rem; 
}
.brand-icon{
    top: 50%;
    right: 75vh;
    transform: translateY(0%); 
    font-size: 1.5rem; 
}
.brand-icon1{
    top: 59%;
    right: 75vh;
    transform: translateY(0%); 
    font-size: 1.5rem; 
}
.brand-icon2{
    top: 68%;
    right: 75vh;
    transform: translateY(0%); 
    font-size: 1.5rem; 
}
.brand-icon3{
    left: 50%;
    right: 75vh;
    transform: translateY(0%); 
    font-size: 1.5rem; 
}
.container{
    padding: 8vh;
}
.container .login {
    position: relative;
    z-index: 1;
    background-color: transparent;
    width: 80vh;  
    border-radius: 8px;
    text-align: center;
}

.container .login div{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.container .login div input{
    width: 100%;

}

h2 {
    font-size: 2rem;
    font-weight: 200;
    color: black;
}

form{
    height: 25vh;
}

button {
    width: 100%;
    padding: 0.8em;
    background-color: #1e9090;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
    transition: 0.3s;
    padding-bottom: 1vh;
}
button:hover{
    background-color: white;
    color: #1e9090;
}

.o{
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.barra1{
    background-color: black;
    height: 1px;
    width: 45%;
    position: absolute;
}
.barra2{
    left: 44vh;
    background-color: black;
    height: 1px;
    width: 45%;
    position: absolute;
}
.button:hover {
    background-color: white;
    color: #1e9090;
}

.social {
    margin-top: 20px;
    overflow: hidden;
}


.social button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.google { 
    background-color: #1da1f2; 
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    height: 40px;    
    padding: 10px;
    color: white;
}
.google:hover{
    transform: scale(1.1);
}
.facebook { 
    background-color: #3b5998; 
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease;
    height: 40px;    
    padding: 10px;
    color: #fff;
}
.facebook:hover{
    transform: scale(1.1);
}
.reddit { 
    background-color: #ff4500; 
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease;
    height: 40px;    
    padding: 10px;
    color: #fff;
}
.reddit:hover{
    transform: scale(1.1);
}
.twitter { 
    background-color:black; 
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    height: 40px;    
    padding: 10px;
    color: #fff;
    
}
.twitter:hover{
    transform: scale(1.1);
}

.links {
    margin-top: 5vh;
    font-size: 1rem;
}

.links a {
    color: black;
    text-decoration: none;
}

.links span {
    font-weight: bold;
    text-decoration: underline;
}
